.paginationContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    width: 23rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.paginationButton {
    background-color: lightblue;
    padding: 1px 6px;
}

.currentPageInfo {
    align-self: center;
}
